<form class="position-absolute top-50 start-50 translate-middle" id="form" action="/process-image" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label fw-bold fs-4 text-white ">Imagen Url:</label>
   <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Ingresa tu URL aquí">
  </div>
  <button type="submit" class="btn btn-secondary">Enviar URL</button>
</form>